<h1>Chat</h1>
<br>
<div class="app-mensajes" id="app-mensajes">
  <div class="text-right" *ngFor="let chat of chatService.chats">
    <span class="badge badge-primary">Sandra</span>
    <p>
      {{ chat.message }}
    </p>
  </div>
  <!-- <div class="text-right">
    <span class="badge badge-primary">Sandra</span>
    <p>
      Este es un mensaje de chat
    </p>
  </div>
  <div>
    <span class="badge badge-success">Brayhan</span>
    <p>
      Saludos Sandra
    </p>
  </div> -->
</div>
<input type="text"
       [(ngModel)]="message"
       name="message"
       class="form-control"
       placeholder="Enviar mensaje"
       (keyup.enter)="send_message()">