<h1>Chat</h1>
<br>
<div class="app-mensajes" id="app-mensajes">
  <div 
  *ngFor="let chat of chatService.chats"
  [ngClass]="{'text-right': chatService.user.uid == chat.uid}">
    <span 
    [ngClass]="{'badge-primary': chatService.user.uid == chat.uid,
                'badge-success': chatService.user.uid != chat.uid}"
    class="badge">Sandra</span>
    <p>
      {{ chat.message }}
    </p>
  </div>
  <!-- <div class="text-right">
    <span class="badge badge-primary">Sandra</span>
    <p>
      Este es un mensaje de chat
    </p>
  </div>
  <div>
    <span class="badge badge-success">Brayhan</span>
    <p>
      Saludos Sandra
    </p>
  </div> -->
</div>
<input type="text"
       [(ngModel)]="message"
       name="message"
       class="form-control"
       placeholder="Enviar mensaje"
       (keyup.enter)="send_message()">